<h1>タスク投稿</h1>

<%= form_with model: @event, url: event_path, local:true do |f| %>

  <div class="title">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

    <div class="time">
    <%= f.label :開始時間ー終了時間 %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :タスク内容 %>
    <%= f.text_area :content %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>