<!--ヘッダー-->
<%= render 'public/header' %>

<div class="toppage">
<h1 class="top">カレンダー</h1>


<div class="col-md-8">
  <%= @user.name %>
<%= week_calendar events: @events do |date, events| %>
  <%= date.day %>

    <div>
      <%= link_to '＋', new_event_path %>
    </div>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>